.popup-bg {
    padding: 20px;
}

.popup {
    position: relative;
    font-family: 'Segoe UI', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    flex: 1;
}

.row {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

input:not(.search),
select {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
}

.radio-group input[type="radio"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-primary {
    background: #0b1e6b;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.btn-primary:hover {
    background: #0d2591;
}

.btn-secondary {
    background: #ccc;
    color: #333;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.btn-secondary:hover {
    background: #bbb;
}

textarea {
    width: 99%;
    height: 200%;
}